# 你的 Google 試算表 ID
# 例：https://docs.google.com/spreadsheets/d/【這段就是 ID】/edit
# 試算表必須設成「知道連結的任何人都可以檢視」
VITE_SHEET_ID=1IkJ03IVDE7NTCo2MRM3yxpz2UvagQ-Rdmuo3tci4zGA

# 試算表內的「分頁名稱」
# 預設叫 restaurants 與 posts，請把你 Google Sheet 的分頁名稱改成相同
VITE_SHEET_RESTAURANTS_TAB=restaurants
VITE_SHEET_POSTS_TAB=posts
